.below-video {
	vertical-align: bottom;
	float: none;
	margin-top: 300px;
	margin-bottom: 0px;
}

.remove-padding {
	padding: 0 !important;
}

.header-wrapper .buy-btn {
	color: @white;
}

.game-column {
	//.transition(~"background 0.25s ease-in-out");
	//.transition(~"transform 0.1s ease-out");
	.transition(~"all 0.05s ease-out");
	
	background-position: left top;
	background-repeat: no-repeat;

	position: relative;
	max-width: 369px;
	padding: 47px 15px 43px;
	min-height: 600px;
	text-align: center;
	border: 1px solid @gray-lighter;
	overflow: hidden;
	margin-bottom: 24px;

	/*	TAKEN FROM PRODUCT-COLUMN!
	.sale-label {
		.rotate(-45deg);

		position: absolute;
		top: -12px;
		left: -57px;
		display: inline-block;
		width: 150px;
		padding-top: 25px;
		font-family: @font-family-heading;
		font-weight: @bold-weight;
		font-size: @font-size-big;
		text-align: center;
		line-height: 30px;
		color: @text-white;
	}

	.package-title {
		&:extend(.base-clr-txt);
	}

	.package-price {
		font-size: 70px;
		font-family: @font-family-heading;
		font-weight: @bold-weight;
		line-height: 1;
		color: @text-gray-dark;

		.currency {
			font-size: 45px;
			vertical-align: top;
			line-height: 1;
		}
	}

	.package-detail {
		.transition(~"color 0.2s ease");

		padding: 23px 0 17px;

		ul li {
			line-height: 29px;

			.check-icon {
				margin-right: 10px;
				color: @green;
			}
		}
	}

	.btn {
		margin: 0 !important;
		min-width: 0;
		max-width: 100%;
		text-align: center;
	}
	*/

	h6 {
		.transition(~"all 0.2s linear");
		color: @white;
		font-family: @font-family-heading;
		font-weight: normal;
		letter-spacing: 2px;
		//text-transform: uppercase;
		/*
		// Add underline?
		border-bottom-width: 2px;
		border-color: @white;
		border-style: solid;
		padding-bottom: 4px;*/
		&::after {
			content: "";
			display: block;
			width: 50%;
			margin: 8px auto;
			height: 2px;
			background-color: @white;
		}
	}

	&:hover {
		.scale(1.05);
		.transition(~"all 0.2s ease-out");
		border-color: @white;

		&::after {
			background-color: @gray-light;
		}
	}

	&.sol {
		background-image: url("@{img-path}games/banner-sol.png");
	}

	&.pwdemo {
		background-image: url("@{img-path}games/banner-pwdemo.png");
	}

	&.reefquest {
		background-image: url("@{img-path}games/banner-reefquest.png");
	}
}