.below-video {
	vertical-align: bottom;
	float: none;
	margin-top: 300px;
	margin-bottom: 0px;
}

.remove-padding {
	padding: 0 !important;
}

.header-wrapper .buy-btn {
	color: @white;
}

.game-column {
	//.transition(~"background 0.25s ease-in-out");
	//.transition(~"transform 0.1s ease-out");
	.transition(~"all 0.05s ease-out");
	
	background-position: left top;
	background-repeat: no-repeat;

	position: relative;
	max-width: 369px;
	padding: 47px 15px 43px;
	min-height: 600px;
	text-align: center;
	border: 1px solid @gray-lighter;
	overflow: hidden;
	margin-bottom: 24px;

	h6 {
		.transition(~"all 0.2s linear");
		color: @white;
		font-family: @font-family-heading;
		font-weight: normal;
		letter-spacing: 2px;
		//text-transform: uppercase;
		/*
		// Add underline?
		border-bottom-width: 2px;
		border-color: @white;
		border-style: solid;
		padding-bottom: 4px;*/
		&::after {
			content: "";
			display: block;
			width: 50%;
			margin: 8px auto;
			height: 2px;
			background-color: @white;
			.transition(~"width 0.2s ease-out");
		}
	}

	&:hover {
		.scale(1.05);
		.transition(~"all 0.2s ease-out");
		border-color: @white;

		h6::after {
			//background-color: @base-color;
			width: 95%;
			.transition(~"width 0.2s ease-out");
		}
	}

	&.sol {
		background-image: url("@{img-path}games/banner-sol.png");
	}

	&.pwdemo {
		background-image: url("@{img-path}games/banner-pwdemo.png");
	}

	&.reefquest {
		background-image: url("@{img-path}games/banner-reefquest.png");
	}
}